# Файл с секретными данными
.env

# Системные файлы Python
__pycache__/
*.pyc

# Игнорируемые директории
venv/
Releases/

# Файл базы данных
*.db
*.db-journal

# Архивные и одноразовые файлы
_archive/
